@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  margin: 0;
  padding: 0; 
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #FCD8D4;
  padding-top: 10px;
}
h1 {
 font-family: 'Dancing Script', cursive;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculator {
  margin: 25px 0;
  width: 500px;
  min-height: 500px;
}
.display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: 8px solid black;
  background-color: white;
}
.total {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 10px;
}

/* adding grid layout */
.calculator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto;
  
}
 
.buttons {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2px;
  padding: 2px;
  background-color: #787A91;
}
.button {
  background-color: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.button:hover{
  background-color: #DDDDDD;
}
.operator {
  background-color: #BBBBBB;
}
 
#backspace {
  grid-column: 2/-2;
  grid-row-start: 1;
}
#equal {
  grid-column: -3/-1;
}
/* footer */
.footer {
  height: 72px;
  background-color: #DED9C4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: lighter;
}