* {
  margin: 0;
  padding: 0;
  border: 3px solid red;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  border: 10px outset gray;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}
.display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: 10px outset red;
  height: 200px;
}
.buttons {
  border: 10px outset green;
  flex: 1;
  
  /* grids */
  display: grid;
  grid-template-columns: 100px 100px 100px;
 
  
}
